<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:sca="http://www.springframework.org/schema/sca"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
      http://www.springframework.org/schema/sca http://www.springframework.org/schema/sca/spring-sca.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd
  ">
  <bean id="sourcePropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dubbo.properties</value>
			</list>
		</property>
	</bean>
  <dubbo:application name="demo" />
  <!-- 使用zookeeper注册中心暴露服务地址 -->
  <dubbo:registry address="${dubbo.registry.address}" id="dubbo_zookeeper"/>

  <!-- 用dubbo协议在20880端口暴露服务 -->
  <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" />
  

  <dubbo:reference id="merCalculateFeeService" interface="com.hnapay.sis.charging.service.MerCalculateFeeService" version="${zkversion}"/>
  <dubbo:reference id="agentCalculateFeeService" interface="com.hnapay.sis.charging.service.AgentCalculateFeeService" version="${zkversion}"/>
  <dubbo:reference id="bankCalculateFeeService" interface="com.hnapay.sis.charging.service.BankCalculateFeeService" version="${zkversion}"/>
  <dubbo:reference id="imerFeeInfoService" interface="com.hnapay.settle.configruator.service.IMerFeeInfoService" version="${zkversion}"/>
</beans>